.bsn-container {
  background-color: #ebecf1;
  height: 100vh;
}

.bsn-advertising {
  background-color: #206a5d;
}

.bsn-recommendations {
  background-color: #ebecf1;
}

.anime-girl {
  width: 80%;
  height: 350px;
  margin-top: 20px;
}

.anime-logo {
  width: 80%;
  height: 60px;
}
