.bsn-navbarcolor {
  background-color: #1b1c25;
}

.bsn-logo {
  font-size: 35px;
  color: white;
  text-decoration: none !important;
}

.bsn-logo:hover {
  color: #206a5d;
}

.bsn-profile-photo {
  margin-left: 20px;
  width: 70px;
  border-radius: 100px;
}
